{{title}}
{{!-- array loopover --}}
{{#each arrayExample}}
    <li>{{this.id}} {{this.name}}</li>
{{/each}}

 <!-- Uses built-in `if` helper. -->
  {{!-- {{#if showTitle}}
    <h1>Home</h1>
  {{/if}} --}}